# ==========================================================================
# THIS ENV FILE SHOULD BE USED ONLY FOR DEVELOPMENT PURPOSE 
# Do NOT put AWS keys here
# AWS credentials are passed ONLY from the host shell environment variables
# See README.md
# ==========================================================================

# OpenAI / Claude via Bedrock
OPENAI_API_KEY=your-openai-api-key
ANTHROPIC_API_KEY=your-claude-key
GROQ_API_KEY=your-groq-key

#LLM Parameters
GROQ_MODEL_NAME=llama-3.1-8b-instant
GROQ_TEMPERATURE=0.7

# Vision APIs
AWS_REKOGNITION_REGION=us-east-1

# Google map API
GOOGLE_MAPS_API_KEY=your-google-map-api-key

# OpenWeather API
OPENWEATHER_API_KEY="your-openweather-api-key"

# Feature Flags
VOYAGER_USE_WEATHER=1

# Application
DEBUG=True
LOG_LEVEL=INFO

# =====================
# Docker development settings
# =====================
# Local development environment (hot-reload)

HOST=0.0.0.0
CONTAINER_PORT_DEV=8000
HOST_PORT_DEV=8000
UVICORN_MODULE_DEV=src.voyager.main
ACCESS_LOG_FILE=-

# FastAPI
FASTAPI_ENV_DEV=development

# =====================
# Docker development services settings
# =====================

# DynamoDB
DYNAMO_CONTAINER_PORT=8003
DYNAMO_HOST_PORT=8003
DYNAMO_USER=app_dev

# Logger
LOGGING_CONFIG_FILE=logger.yaml
LOG_LEVEL=INFO
SERVICE_NAME=local-fastapi

#DynamoDB
AWS_REGION= us-east-2
DYNAMODB_TABLE = session_metadata

# AWS Cognito (User authentication)
AWS_REGION=us-east-1
COGNITO_USER_POOL_ID=your_pool_id_here
COGNITO_CLIENT_ID=your_client_id_here
